
body{
    color:white;
    background: rgb(15,135,156);
    margin:0px;
    font-family: "Anton", sans-serif;
    margin-bottom: 100px;
}
header{
    border-bottom:solid 4px rgb(154, 240, 255);
    padding: 20px;
    font-size:32px;
    color:white;